{#
/**
 * @file
 * Theme override for an item list.
 *
 * @see template_preprocess_item_list()
 */
#}
{{ attach_library('zz/item-list') }}
<div class="box">
{% if items or empty %}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}
  {%- if items -%}
    <{{ list_type }}{{ attributes }}>
    {%- for item in items -%}
      <li{{ item.attributes.addClass(listClasses) }}>{{ item.value }}</li>
    {%- endfor -%}
    </{{ list_type }}>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
</div>
